body {
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
	background-color: black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}

h1, h2{
	font-family: 'Romanesco', cursive;
	font-size: 80px;
}

header h1{
	color: white;
}

header img {
	border-radius: 200px ;
	width: 1 00px;
	border: 10px solid lightblue;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 60px;
	color: salmon;
}

footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}